
.counter {
    margin: 30px 30px ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    }
    
.sfondo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    }
    
h1, p {
    display: flex;
    justify-content: center;
    }
    
h1 {
    font-size: 30px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    }
    
p {
    font-size: 140px;
    color: black;
    }
    
.button-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px ;

    }

.button1 {
    background-color: rgb(242, 220, 130);
    color: black;
    padding: 30px;
    border: none;
    font-size: 30px;
    width: 90px;
    border-radius: 150px;
    }
    
    
.button2 {
    background-color: rgb(242, 220, 130);
    color: black;
    padding: 30px;
    border: none;
    font-size: 30px;
    width: 90px;
    border-radius: 150px;
    }

.button3 {
    background-color: rgb(242, 220, 130);
    color: black;
    border: none;
    font-size:15px;
    border-radius: 50px;
    width: 100px;
    padding: 10px;
    margin-right: 40px;
    font-family: "Poppins", sans-serif;
}

.resetta{
   display: flex;
   justify-content: flex-end;
   margin-bottom: 20px;
   width: 100%;
}
  
@media only screen and (max-width: 400px) {
    .button3{
        margin-top: 20px;
        margin-right: 0;
        
    }

    .resetta{
    width: 100%;
    justify-content: center;
    
    }
}

